<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="css/login.css"> {% endcomment %}
  </head>
  <body>
    <br><br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
           <a class="navbar-brand" href="#">Careers-Harbor</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#About">About</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#Contact">Contact</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#Option">Option</a>
                 </li>
              </ul>
              <div class="d-flex gap-2" role="search">
                <a class="btn btn-success " href="{% url 'career' %}">Back</a>              
            </div>
            <div class="conatiner d-flex justify-content-end gap-2">
                <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
            </div>
           </div>
        </div>
     </nav>
     {% if messages %}
    <div class="container col-lg-4">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        {% endfor %}
    </div>
      {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" style="color: white;" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title mt-3">
                    User Insert Data
                </div>

                <div class="col-lg-12 login-form mt-3">
                    <div class="col-lg-12 login-form">
                        <form method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label">Company Name : </label>
                                <input name="c_name" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Company Career : </label>
                                <input name="c_link" type="text" class="form-control" i>
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/dedeab9b5a.js" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>